.kaufman__triangle {
  display: flex;
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  right: -210px;
}